<span class="material-symbols-outlined @AdditionalClass">@Name</span>

@code {
    [Parameter, EditorRequired] public string Name { get; set; } = "";
    [Parameter] public string? AdditionalClass { get; set; }
}
